<div class="divTitulo" *ngIf="!seleccionado">
  <h2>Seleccione una acción:</h2>
</div>
<div *ngIf="!seleccionado" class="contenedor">
  <mat-card *ngIf="tipoUsuario=='admin'" class="containerInicioRegistro" title="Administrar Usuarios" (click)="MostrarComponente('administracionUsuario')">
    <div  class="imgcontainer">
      <img src="../../../assets/busqueda.png" alt="Avatar" class="avatar" style="max-height: 90%;"  >
    </div>
  </mat-card>
  <mat-card *ngIf="tipoUsuario=='admin'" class="containerInicioRegistro" title="Ver Turnos" (click)="MostrarComponente('consultarAgenda')">
    <div  class="imgcontainer">
      <img src="../../../assets/calendario.png" alt="Avatar" class="avatar" style="max-height: 90%;" >
    </div>
  </mat-card>
</div>
